<%map.vagas.each do |vaga|%>
  <p id="map_vaga">
    <% if vaga.vaga_status.last.nil? %>
      <% status = StatusControll::AVAILABLE %>
    <% else %>
      <% status = vaga.vaga_status.last.status%>
    <%end%>
    <%= map_vaga_status(status, vaga.codigo) unless vaga.eixo_x.nil?%>
    <%= link_to "/vagas/#{vaga.id}/coordenates", :remote => true, :id=>"vaga-#{vaga.codigo}", :status => status, :class => :map_vaga do%>
      <%= map_vaga_status(status, vaga.codigo)%>
    <% end %>
  </p>
  <div id="salva-vaga-<%=vaga.codigo%>"></div>
  <%unless vaga.eixo_x.nil?%>
    <script>$("#vaga-<%=vaga.codigo%>").offset({ top: <%=vaga.eixo_x%>, left: <%=vaga.eixo_y%> });</script>
  <% end %>
<%end%>