<%map.vacancies.each do |vacancy|%>
  <p id="map_vacancy">
    <%= vacancy_status(vacancy) unless vacancy.eixo_x.nil?%>
    <%= link_to "/vagas/#{vacancy.id}/coordenates", :remote => true, :id=>"vacancy-#{vacancy.id}", :status => vacancy.status, :class => :map_vaga do%>
      <%= vacancy_status(vacancy)%>
    <% end %>
  </p>
  <div id="salva-vaga-<%=vacancy.codigo%>"></div>
  <%unless vacancy.eixo_x.nil?%>
    <script>$("#vaga-<%=vacancy.codigo%>").offset({ top: <%=vacancy.eixo_x%>, left: <%=vacancy.eixo_y%> });</script>
  <% end %>
<%end%>