<!-- start main -->
<div id="main" class="clear">

  <div id="head" class="clear">
  <h1>Mapa do Estacionamento <%= @map.codigo%></h1>
    <div id="actions">
      <a href="javascript:history.go(-1);" class="button primary">Voltar</a>
      <%= link_to "Editar", edit_map_path(@map), class: "button primary"%>
    </div>
  </div>

  <!-- end top table options -->
  <div id="div_success">
    <p>
    <%= raw show_msg(flash[:success], :success) %>
    <%= raw show_msg(flash[:error], :errors) %>
    </p>
  </div>
  <div id ="map_<%=@map.id%>_photo" style="position:relative;">
    <%=image_tag @map.photo.url(:small) %>
    <% @map.vacancies.each do |vacancy| %>
      <%= link_to_add_vacancy(vacancy)%>
    <% end %>
  </div>
</div>
<!-- end main -->

<div id="sidebar">
  <!-- start filters sidebox -->
  <div class="sidebox clear" id="vacancy_of_map" map_id="<%=@map.id%>">
    <%= render :partial => 'admin/maps/partials/vacancies', :locals => {:map => @map, :available => @available} %>
  </div>
  <!-- end filters sidebox -->

</div>
<!-- end sidebar -->
<%= javascript_include_tag "admin/maps"%>
<script type="text/javascript">
  $(".change_vacancy_coordenate").draggable({containment: "#" + $("div[id^='map_'][id$='_photo']").attr('id')});
  $(".change_vacancy_coordenate").mouseup(function(){
    var positionX = $(this).css("top");
    var positionY = $(this).css("left");
    var vacancy_id = $(this).attr("data-vacancy");
    var cod_vaga = $(".change_vacancy_coordenate #update_vacancy_"+ vacancy_id + " span").text();
    if (positionX != "" && positionY != "" && vacancy_id != "") {
      $.post("/vacancies/update_coordendas/"+ vacancy_id + "/" + positionX +"/"+ positionY);
      $("#div_success p").html('<%= raw show_msg("A vaga: <b>'+cod_vaga+ ' </b>foi atualizada com sucesso!", :success) %>').slideDown().delay(4000).slideUp();
    }
  });
</script>

<%= content_for :estilos do%>
  <%= stylesheet_link_tag 'maps/show' %>
<%end%>
