<!-- start main -->
<%= stylesheet_link_tag 'status_controll/report' %>

<div id="main" class="clear">

  <div id="head" class="clear">
    <h1>Relatórios</h1>
  </div>
  <div id="topOptions" class="clear">
      <%= link_to "Relatório diário", daily_reports_path %>
    </div>
  <!-- start top table options -->
  
  <%= page_entries_info @status_vacancies, :entry_name => 'registro' %>
  
  <% unless @status_vacancies.blank? %>
    <div id="topOptions" class="clear">
      <%= link_to make_pdf_reports_path(:time_begin => @time_begin, :time_end => @time_end, :vacancies => @params_vacancies, :format => :pdf), :title =>  "Exportar para PDF" do %>
        Gerar PDF
        <%= image_tag('encore/ico/pdf.jpeg')%>
      <% end %>
      
      <%= link_to make_csv_reports_path(:time_begin => @time_begin, :time_end => @time_end, :vacancies => @params_vacancies), :title =>  "Exportar para Excel" do %>
        Gerar CSV
        <%= image_tag('encore/ico/xls.png')%>
      <% end %>
    </div>
  <% end%>
    
  <!-- end top table options -->
  
  <%= raw show_msg(flash[:report_index], :success) %>

  <%= render :partial => "admin/status_controlls/partials/reports", :locals =>{:reports => @status_vacancies}%>
  <%= will_paginate @status_vacancies %>
  <% if @status_vacancies.blank? %>
    <%= raw show_msg(flash[:analytic_report], :error) %>
      <%#= raw show_msg("Nenhum registro foi encontrado.", :warning) %>
  <% end %>
</div>
<!-- end main -->

<!-- start sidebar -->
<div id="sidebar">
  <!-- start filters sidebox -->
  <div id="boxFirst" class="sidebox clear">
    <h1>Buscar</h1>
    
    <div class="boxContent clear">
      <%=form_for :status_controll, :as => :search, :url => search_reports_path, :html => {:method => :get, :class => "sideForm"} do |b|%>    
        <fieldset>
          <h3>Intervalo</h3>
          <div class="field clear">
            <%=b.label t(:time_begin)%>
            <%= b.text_field(:time_begin, :class => "full", :value => @time_begin.strftime(t("date.formats.datetime")))%>
          </div>
          <div class="field clear">
            <%=b.label t(:time_end)%>
            <%= b.text_field(:time_end, :class => "full", :value => @time_end.strftime(t("date.formats.datetime")))%>
          </div>  

          <% unless @maps.blank? %>
            <h3>Mapa</h3>
            <div class="field clear checkfield">
              <fieldset>
                <% @maps.each do |map|%>
                  <% if !params[:maps] || (params[:maps] && params[:maps].include?(map.id.to_s))%>
                    <%= b.check_box(:map, {:checked => true, :multiple => true}, map.id, nil) %>
                  <% else %>
                    <%= b.check_box(:map, {:multiple => true}, map.id, nil) %>
                  <% end %>
                  <%= b.label :map, map.codigo %>
                <% end %>
              </fieldset>
            </div>
            <% unless @vacancies.blank? %>
              <h3>Vagas</h3>
              <div class="field clear checkfield" id="vacancies_search">
                <%= render "admin/status_controlls/partials/vacancies", :vacancies => @vacancies, :params_vacancies => params[:vacancies] %>
              </div>
            <% else %>
              <h3 class="blank">Não existem vagas cadastrados no sistema</h3>
            <% end %>
          <% else %>
            <h3 class="blank">Não existem mapas cadastrados no sistema</h3>
          <% end %>
          
          <div class="field clear">
            <%=b.submit "Buscar", :class => "button secondary"%>
          </div>
        </fieldset>
      <%end%>
    </div>
  </div>
  <!-- end filters sidebox -->

</div>
<!-- end sidebar -->
<%= javascript_include_tag "status_controll" %>
