<%= stylesheet_link_tag 'status_controll/report' %>
<div id="main" class="clear">

  <div id="head" class="clear">
    <h1>Relatório por tempo de ociosidade</h1>
    <div id="actions">
      <a class="button primary" href="<%= reports_path%>" title="Visualizar Relatórios">Voltar</a>
    </div>
  </div>
  <!-- start top table options -->
  
  <%#= page_entries_info @status_vacancies, :entry_name => 'registro' %>
  
  <% unless @status_vacancies.blank? %>
    <div id="topOptions" class="clear">
    <%= link_to idleness_pdf_reports_path(:time_begin => @time_begin, :time_end => @time_end, :vacancy => params[:vacancy], :format => :pdf), :title =>  "Exportar para PDF" do %>
        Gerar PDF
        <%= image_tag('encore/ico/pdf.jpeg')%>
      <% end %>
    </div>
  <% end%>
    
  <%= render :partial => "admin/status_controlls/partials/idleness_reports", :locals =>{:reports => @status_vacancies }%>
  <%= raw show_msg(flash[:analytic_report_blank], :warning) %>
  <%= raw show_msg(flash[:analytic_report], :error) %>
</div>

<div id="sidebar">
  <%= render :partial => "admin/status_controlls/partials/busca", :locals => {:url => idleness_reports_path} %>
</div>
<%= javascript_include_tag "status_controll" %>