<table id="tableItems" cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Registro</th>
      <th>Mapa</th>
      <th>Entrada do veículo</th>
      <th>Saída do veículo</th>
      <th>Vaga</th>
      <th>Tempo Total</th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% reports.each do |report| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td align=center ><%= i %></td>
        <td align=center ><%= report.vacancy.map.codigo %></td>
        <td align=center ><%=report.timebegin.strftime(t("date.formats.reports"))%></td>
        <td align=center ><%= report.time_end.strftime(t("date.formats.reports"))%></td>
        <td align=center ><%= report.vacancy.codigo %></td>
        <td align=center ><%= distance_of_time_in_words(report.time_end, report.timebegin)%></td>
      </tr>
      <%i = i+ 1%>
    <% end %>
  </tbody>
</table>