<%= will_paginate @vagas %>
<!-- start main -->
<div id="main" class="clear">

  <div id="head" class="clear">
    <h1>Vagas</h1>
    <div id="actions">
      <%= link_to 'Novo Vaga', new_vacancy_path, :class => "button primary" %>
    </div>
  </div>

  <!-- start top table options -->
  <div id="topOptions" class="clear">
    <%= page_entries_info @vagas, :entry_name => 'registro' %>
  </div>
  <!-- end top table options -->
  
  <%= raw show_msg(flash[:client_index], :success) %>

  <%= render :partial => "vacancies/partials/vacancies", :locals =>{:vacancies => @vacancies}%>

  <% if !@vagas.nil? && @vagas.length == 0 %>
      <%= raw show_msg("Nenhuma vaga foi encontrada.", :warning) %>
  <% end %>

</div>
<!-- end main -->

<!-- start sidebar -->
<div id="sidebar">
  <!-- start filters sidebox -->
  <div id="boxFirst" class="sidebox clear">
    <h1>Buscar</h1>
    <div class="boxContent clear">
      <%=form_for @search, :as => :search, :html => {:method => :get, :class => "sideForm"} do |b|%>
        <fieldset>
          <div class="field clear">
            <%=b.label  "Código"%>
            <%=b.text_field :codigo_contains, :class => "full"%>
            <%=b.label  "Ativo?"%>
            <%=b.check_box :status_eq,:checked =>true, :class => "full"%>
            <%=b.label  "Especial?"%>
            <%=b.check_box :especial_eq, :class => "full"%>
          </div>
        </fieldset>
          <%=b.submit "Buscar", :class => "button secondary"%>
        <%end%>
      </div>
  </div>
  <!-- end filters sidebox -->

</div>
<!-- end sidebar -->