<table id="tableItems" class="clear" cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th style="width:565px;text-align:left;">ID</th>
      <th style="width:565px;text-align:left;">Código</th>
      <th style="width:565px;text-align:left;">Mapa</th>
      <th colspan="2" style="width: 60px;">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% vacancies.each do |vacancy| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= link_to vacancy.id, vacancy_path(vacancy.codigo) %></td>
        <td style="text-align:left;"><%= link_to vacancy.codigo, vacancy_path(vacancy.codigo) %></td>
        <td style="text-align:left;"><%= link_to vacancy.map.codigo, map_path(vacancy.map.codigo) %></td>
        <td>
          <%= link_to image_tag("encore/ico/icoEdit.png"), edit_vacancy_path(vacancy.codigo), :id=> "alterar_vaga", :title => "Alterar" %>
        </td>
        <td>
          <%= link_to image_tag('encore/ico/icoDelete.png'), vacancy, :confirm => "Todos os dados relacionados a esta vaga incluindo relatórios serão apagados permanentemente! Tem certeza que deseja excluir? ", :method => :delete, :id=> "excluir_client", :title => "Excluir" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>