<!-- start main -->
<div id="main" class="clear">

  <div id="head" class="clear">
    <h1>Relatórios</h1>
  </div>

  <!-- start top table options -->
  
  <%= page_entries_info @status_vacancies, :entry_name => 'registro' %>
  <% unless @status_vacancies.blank? %>
    <div id="topOptions" class="clear">
      <%= link_to make_pdf_reports_path(:id => @time_begin.strftime(t("date.formats.urls")), :format => :pdf) do %>
        Gerar PDF
        <%= image_tag('encore/ico/pdf.jpeg')%>
      <% end %>
    </div>
  <% end%>
    
  <!-- end top table options -->
  
  <%= raw show_msg(flash[:report_index], :success) %>

  <%= render :partial => "status_controlls/partials/reports", :locals =>{:reports => @status_vacancies}%>
  <%= will_paginate @status_vacancies %>
  <% if @status_vacancies.blank? %>
      <%= raw show_msg("Nenhum registro foi encontrado.", :warning) %>
  <% end %>
</div>
<!-- end main -->

<!-- start sidebar -->
<div id="sidebar">
  <!-- start filters sidebox -->
  <div id="boxFirst" class="sidebox clear">
    <h1>Buscar</h1>
    <div class="boxContent clear">
    <%=form_for :status_controll, :as => :search, :url => search_reports_path, :html => {:method => :get, :class => "sideForm"} do |b|%>
        <fieldset>
          <div class="field clear">
            <%=b.label t(:time_begin)%>
            <%=b.date_select :time_begin,:default => @time_begin, :class => "full"%>
          </div>
        </fieldset>
          <%=b.submit "Buscar", :class => "button secondary"%>
        <%end%>
      </div>
  </div>
  <!-- end filters sidebox -->

</div>
<!-- end sidebar -->