<div id="main" class="clear">

  <div id="head" class="clear">
    <h1>Relatórios</h1>
    <div id="actions">
    </div>
  </div>
  <%=name_status_true = @vagas_name_true.join(',')%>
  <%=name_status_false = @vagas_name_false.join(',')%>
  
  <script>
    var chart;
    var names;
    
    name_status_true = "<%=name_status_true%>".split(',');
    name_status_false = "<%=name_status_false%>".split(',');
    names = name_status_true.concat(name_status_false);
    
    $(function(){
      var colors = Highcharts.getOptions().colors,
      categories = names,
      
      name_vaga_open = 'Vagas Abertas',
      name_vaga_fechada = 'Vagas Fechadas',
      
      data_opened = [
          <%@vagas_name_true.each_with_index do |vaga, i|%>
            {
              y: (<%=(@qt_true[i] *100)/ @total%>),
              color: colors[<%=i%>]
              },
            <%end%>
            
          ];
      data_closed = [
        <%@vagas_name_false.each_with_index do |vaga, i|%>
          {
            y: (<%=((@qt_false[i] *100)/ @total).to_f%>),
            color: colors[<%=i%>]
          },
        <%end%>
      ];
   
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'report_chart',
         type: 'column'
      },
      title: {
         text: 'Relatório'
      },
      subtitle: {
         text: 'Subtítulo do relatório.'
      },
      xAxis: {
         categories: categories
      },
      yAxis: {
         title: {
            text: 'Total em porcentagem'
         }
      },
      plotOptions: {
         column: {
            cursor: 'pointer',
            point: {
               events: {
                  click: function() {
                     var drilldown = this.drilldown;
                     if (drilldown) { // drill down
                        setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
                     } else { // restore
                        setChart(name_vaga_open, categories, data_opened);
                     }
                  }
               }
            },
            dataLabels: {
               enabled: true,
               color: colors[0],
               style: {
                  fontWeight: 'bold'
               },
               formatter: function() {
                  return this.y +'%';
               }
            }
         }
      },
      credits: {
         enabled: false
      },
      series: [{
         name: name_vaga_open,
         data: data_opened,
         color: 'red'
      },
      {
        name: name_vaga_fechada,
        data: data_closed,
        color: 'blue'
        }],
      
      });
    });
  </script>
  <div id="report_chart"></div>
</div>

<div id="sidebar">

  <div id="boxFirst" class="sidebox clear">
    <h1>Ferramentas</h1>
    <div class="boxContent clear">
      <h2>Busca</h2>
      <p></p>
    </div>
    <div class="boxContent clear">
      <p><a href="#"><%=image_tag "/images/encore/ico/pdf.jpeg"%> Exportar para pdf</a></p>
    </div>
  </div>

</div>