<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<head>
  <title>Controle de Vagas</title>
  <!-- start HTML tags -->
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="content-language" content="pl"/>
    <script src="https://www.google.com/jsapi?key=ABQIAAAA3jd8_Xd5n4i_dbbjx2m98xQ9KgLs42JL53zvjkiTf6y8yS37lBQJnH20ZfQBb_VlrHoTQ_HiM5SazA" type="text/javascript"></script>
    <script language="Javascript" type="text/javascript">
      google.load("jquery", "1", {uncompressed:true});
      google.load("jqueryui", "1", {uncompressed:true});
    </script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "rails" %>
  <%= csrf_meta_tag %>

  <!-- start obligatory styles -->
  <%= stylesheet_link_tag 'layout'%>
  
  <!-- end obligatory styles -->

  <!-- 1. change the skin color here by replacing <colorname>.css (available skins: black, blue, orange, wine) -->
  <%= stylesheet_link_tag 'skin/black'%>

  <%= stylesheet_link_tag 'global'%>

  <%= stylesheet_link_tag 'rounded'%>
  <%= stylesheet_link_tag 'jquery-ui-1.8.9.custom' %>
  <%= stylesheet_link_tag 'jquery.ui.autocomplete' %>
  <%= stylesheet_link_tag 'calendar' %>

</head>

<body id="pageDashboard" class="withoutSubnav">
<!-- start wrapper -->
<div id="wrapper">

  <!-- start top -->
  <div id="top">

    <!-- start title -->
    <div id="title" class="clear">
      <a href="#">Sistema de Controle de Vagas</a>
      <span>|</span>
    </div>
    <!-- end title -->

    <!-- start menu -->
    <% if !is_active? "home"%>
      <div id="menu" class="clear">
        <ul>
          <li class="<%= is_active? "maps" %>"><%=link_to "Gerenciar Mapas", maps_path%></li>
          <% if can? :manage, "vaga", "relatorios" %>
          <li class="<%= is_active? "vagas" %>"><%=link_to " Gerenciar Vagas", vacancies_path%></li>
          <li class="<%= is_active? "status_controlls" %>"><%=link_to "Gerenciar Relatórios", reports_path((Time.now.strftime(t("date.formats.urls"))))%></li>
          <%end%>
        </ul>
      </div>
    <% end%>
    <!-- end menu -->

    <!-- start toolbar -->
    <div id="toolbar" class="clear">
      <% if logged_in? %>
      <p id="user">
        Logado como
        <a href="/users/<%#= current_user.id %>">
            <%= current_user.login %>
          </a>
        </p>
        <div id="buttons">
          <a href="#" class="button tool">Perfis</a>
          <a href="/logout" class="button tool">Logout</a>
        </div>
      <% else %>
        <div id="buttons">
          <a href="/login" class="button tool">Login</a>
          <a href="/account/new" class="button tool">Enjoy</a>
        </div>
      <% end %>
    </div>
    <!-- end toolbar -->

  </div>
  <!-- end top -->

  <!-- start content -->
  <div id="content" class="clear">
    <%= yield %>
  </div>
  <!-- end content -->

  <!-- start push (allows footer stay at the bottom) -->
  <div id="push">&nbsp;</div>
  <!-- end push -->

</div>
<!-- end wrapper -->

<!-- start footer -->
  <div id="footer">
    <div id="wrapFooter">
      <p id="copyright">Copyright &copy; by Carina Brito. Todos os direitos reservados.</p>
    </div>
  </div>
<!-- end footer -->

    </body>
</html>
