<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
  <head>
    <title>Controle de Vagas</title>
    <!-- start HTML tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="content-language" content="pl"/>
    <%= javascript_include_tag "jquery/jquery-1.7.1.min" %>
    <%= javascript_include_tag "jquery/jquery-ui-1.8.9.custom.min" %>
    <%= javascript_include_tag "jquery/jquery.ui.tabs" %>
    <%= javascript_include_tag "jquery/jquery.ui.tabs.min" %>
  
    <%= javascript_include_tag "application_user" %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'user-layout/default'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
